<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{asset("./style/bootstrap.min.css")}}"/>
        <link rel="stylesheet" href="{{asset("./style/main.css")}}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{asset("./script/jquery.min.js")}}" ></script>
        <script src="{{asset("./script/js.js")}}" ></script>
        <script src="{{asset("./script/init.js")}}" ></script>
        <script src="{{asset("./script/consulting_requests.js")}}" ></script>
        <script src="{{asset("./script/rendering.js")}}" ></script>
        <script src="{{asset("./script/app.js")}}" ></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
