.header{
    background-color:#ecf0f1; 

    height: 100px;
}

.color1{
    background-color:#27ae60; 
}
.color2{
    background-color:#ecf0f1; 
}
body{
    background-color:#ecf0f1; 
}

#actions{
    top:100%;
    line-height: 40px;
    text-align: left;
    /*background-color: #27ae60;*/
}

button{
    font-size: 16px;
    transition: 0.1s;
    /*background-color: rgba(255,255,255,0.5);*/


}
button:hover{
    background-color: rgba(135,255,130,0.5);
    font-size: 20px;
}

#resultat{
    color:white;
    transition: 0.5s;
    background-color:#ecf0f1; 

}

table , tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    transition:0.1s;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
}

th {
    text-align: center;
    background-color:rgba(15,15,15,1);
    line-height: 200%;
    font-size:22px;
}

tr:hover{
    background-color:rgba(0,0,0,0.5);
    border-left: 5px solid white;
    border-radius: 2px;
}

tr > td:hover{

    background-color:rgba(0,0,0,0.7);
}


/*table.books tr:nth-child(2n+0){
    background-color:rgba(139,174,96,0.5);
}
table.books tr:nth-child(2n+1){
    background-color:rgba(139,174,96,0.1);
}*/

table.books tr{
    cursor: pointer;
}

.test{
    visibility: hidden;
    transition:0.5s;
}
.test2{
    visibility: visible;
}