{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="header">

            <div id="actions" class="col-xs-3">
                <button id="getBooks" class="col-xs-12">Consulter les livres</button>
                <button id="addBook" class="col-xs-12">Ajouter un livre</button>
                <button id="editBook"class="col-xs-12">Editer un Livre</button>
                <button id="addCopy" class="col-xs-12">Ajouter un Exemplaire</button>
                <button id="editCopy"class="col-xs-12">Editer un Exemplaire</button>
                <button id="getAuthors"class="col-xs-12">Consulter les auteurs</button>
            </div>

        </div>
        <div id="resultat" class="container col-xs-9">
            
        </div>
    </div>
</div>
{% endblock %}